# nurdlib, NUstar ReaDout LIBrary
#
# Copyright (C) 2018-2019, 2021, 2023-2024
# Hans Toshihide Törnqvist
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
# MA  02110-1301  USA

padi_or = inherit
padi_combine = inherit
# Threshold: 0x0 -> max neg., 0x200 -> ~0, 0x3ff -> max pos.
threshold = (0{16})
# Independent thresholds, if false -> only use first entry for all ch.
independent = true
channel_enable = 0..31
# 0..15 for the 16 front-end channels.
sync_ch = -1
# Channel bitmask for test pulsing, empty bitmask disables pulser completely.
# Only supported for Tamex4.
test_pulse_channel = ()
# Delay of 2nd test pulse, can be 0 to 120 ns in steps of 8 ns.
# To disable, set value to 0 ns.
test_pulse_delay = 0 ns
# Frequency of pulser, can be 30 or 120 kHz.
test_pulse_freq = 30 kHz
GATE {
	time_after_trigger = 0 us
	width = 0 us
}
