# nurdlib, NUstar ReaDout LIBrary
#
# Copyright (C) 2018, 2022-2024
# Manuel Xarepe
# Hans Toshihide Törnqvist
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
# MA  02110-1301  USA

# Inverts trigger output, not front-end signals!
invert_signal = false

# Split 128 channels into 4 groups of 32 masks/entries.

channel0_enable = 0..31
channel1_enable = 0..31
channel2_enable = 0..31
channel3_enable = 0..31

trigger0_enable = 0..31
trigger1_enable = 0..31
trigger2_enable = 0..31
trigger3_enable = 0..31

# New ctdc version which adds a 129th channel on an LVDS input.
# Set 'channels_to_read = 129' to have it configured and read out.
channels_to_read = 128
channel4_enable = 0..0
trigger4_enable = 0..0

threshold = (0 {128})

# 0xfffffff (7 f's) = use crate-level offset.
threshold_offset = 0xfffffff

frontend = padi
