name: documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies
        run: |
          sudo apt-get update -yq > /dev/null
          sudo apt-get install -y inkscape
          pip install sphinx sphinx_rtd_theme myst_parser
      - name: Sphinx build
        run: |
          inkscape -D -o doc/source/nurdlib.png -d 150 doc/source/nurdlib.svg
          sphinx-build doc/source _build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
